body {
    padding: 1rem;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 2px solid #969696;
}

thead {
    background: #969696 ;
    color: white;
}

th, td {
    text-align: left;
    padding: 3px;
}

tr:nth-child(even){
    background: #f2f2f2;
}